@{
     var usuario = (object[])TempData.Peek("Usuario");//varible de sesion
}



<aside class="main-sidebar" style="  background-color: #022730">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/lte/dist/img/user1-128x128.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p> @usuario[0]</p> <!-- Nombre del usuario-->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
		<div id="Menu">
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul id="menu_u" class="sidebar-menu" data-widget="tree">
				<!-- AQUI SE CONSTRUYE EL MENU-->
			</ul>

		</div>
	</section>
	<!-- /.sidebar -->
</aside>