<footer class="main-footer text-center " style="  background-color: #075f75">
    <div class="pull-right hidden-xs">
    </div>
    <font color="black">
        <strong> Copyright &copy;2020 eduNIca .</strong> All rights
        reserved.
    </font>
</footer>
