@{
    var usuario = (object[])TempData.Peek("Usuario");//varible de sesion
}


<header class="main-header">
    <!-- Logo -->
    <a asp-area="" asp-controller="Home" asp-action="Index" class="logo" style="  background-color: #075f75">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>R</b>D<b>S</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">Redes De Solidaridad</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" style="  background-color: #075f75">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Menu Navegacion</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">1</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Tiene 1 Notificacion</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i>
                                        <small>Su cuenta vence: @usuario[5]</small> <!--Fecha de vencimiento del usuario logueado -->
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/lte/dist/img/user1-128x128.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">@usuario[2]</span> <!-- Nombre del usuario-->
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="~/lte/dist/img/user1-128x128.jpg" class="img-circle" alt="User Image">
                            <p>
                                @usuario[2] <!-- Nombre del usuario-->
                                <div id="rol_u"> @usuario[4]</div> <!--ROL del usuario logueado -->
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Perfil</a>
                            </div>
                            <div class="pull-right">
                                <a asp-area="" asp-controller="Usuarios" asp-action="Index" method="GET" class="btn btn-default btn-flat">Cerrar Sesion</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
            </ul>
        </div>
    </nav>
</header>

