<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/lte/dist/img/eduNica.png">
    <title> @ViewBag.Title | eduNica</title> <!-- Titulo de la pagina-->
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- CSS Generales-->
    <link rel="stylesheet" href="~/lte/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/lte/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/lte/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="~/lte/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" type="text/css" href="~/lte/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" type="text/css" href="~/lte/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/lte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="~/lte/bower_components/vectormap/jquery-jvectormap.css">
    <link href="~/js/js-redes/Estudiante/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/Cargando.css" type="text/css">
    @RenderSection("Css", required: false)
</head>
<body class="hold-transition skin-blue sidebar-mini fixed" style="padding-right: initial !important;">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!--inicio header-->
		<partial name="~/Areas/LTE/Views/Shared/_Hearder.cshtml" />
		<!--fin header -->
		<!--inicio aside -->
		<partial name="~/Areas/LTE/Views/Shared/_Aside.cshtml" />
		<!--fin aside -->
	</div>
	<div class="content-wrapper">
		<section class="content-header">

			@RenderBody() <!--Todo los Datos a cargar -->
			<!-- Inicio de Modales-->
			<!-- Estudiantes-->
			<partial name="~/Areas/Estudiante/Views/Agregar.cshtml" />

			<!--Asignaturas-->
			<partial name="~/Areas/Asignatura/Views/Agregar.cshtml" />
			<!-- Docentes-->
			<partial name="~/Areas/Docente/Views/Agregar.cshtml" />

			<!-- Alertas-->
			<partial name="~/Areas/Alertas/Views/Error.cshtml" />
			<partial name="~/Areas/Alertas/Views/Exito.cshtml" />
			<partial name="~/Areas/Alertas/Views/Cargando.cshtml" />

			<!-- Fin-->
		</section>


	</div>
	<!--inicio footer -->
	<div>
		<partial name="~/Areas/LTE/Views/Shared/_Footer.cshtml" />
	</div>
	<!--fin footer -->

	<script type="text/javascript" src="~/lte/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="~/lte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/lte/dist/js/adminlte.min.js"></script>
	<script type="text/javascript" src="~/lte/bower_components/fastclick/lib/fastclick.js"></script>
	<script type="text/javascript" src="~/lte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="~/lte/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript" src="~/lte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="~/js/js-redes/Estudiante/select2.full.min.js"></script>


	<!--Modales Agregar-->
	<!--Asignaturas-->
	<script type="text/javascript" src="~/js/js-redes/Materia/agregar.js"></script> <!-- escript para validar datos requeridos-->
	<script type="text/javascript" src="~/js/js-redes/Materia/crear.js"></script> <!-- escript para ingresar datos por ajax -->
	<script src="~/js/js-redes/Matricula/index.js"></script>


	<!--script para eliminar Anuncio de somee-->
	<script type="text/javascript" src="~/js/EliminarSOMEE.js"></script>

	<script type="text/javascript" src="~/js/Inicio.js"></script> <!--script para construir menu segun el usuario -->
	<script type="text/javascript" src="~/js/Cargando.js"></script><!--script para Mostrar Modal Cargando-->


	@RenderSection("Scripts", required: false)


</body>
	</html>
