<!-- Vista de errores -->
<div class="modal  modal-danger fade" id="Cargando">

    <div style="margin:10% 0 0 45%" class="loader"></div> <!-- llamada a css donde aplica efecto de espiner-->
</div>




