<!-- Vista de errores -->
<div class="modal  modal-danger fade" id="Mensaje-error">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="alert alert-danger alert-dismissible ">
                <h5 id="mensaje"><i class="icon fa fa-thumbs-o-down"></i></h5>
            </div>
        </div> <!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


