<!--Modal mensaje que muestra si la tarea es relizada con exito -->
<div class="modal  modal-success fade" id="exito">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="alert alert-success alert-dismissible">
                <li class="icon fa fa-check">Tarea realizada con exito</li>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

