@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

	<form id="docente">
		<div class="modal  modal-info fade" id="perfil_docente">
			<div class="modal-dialog ">
				<div class="modal-content">

					<!-- Profile Image -->
					<div class="box box-primary">
						<div class="box-body box-profile">
							<img class="profile-user-img img-responsive img-circle" src="~/lte/dist/img/user2.png" class="user-image" alt="User Image">

							<h3 class="profile-username text-center">Docente</h3>

							<p id="rol_user" class="text-muted text-center"></p>

							<div class="col-lg-4">
								<ul class="list-group list-group-unbordered ">
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-black">Cedula</h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-black">Nombre</h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-black">Primer apellido</h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-black">Segundo apellido</h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-black">Sexo</h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-black">Fecha Nacimiento</h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-black">Telefono</h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-black">Estado</h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-black">Correo</h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-black">Direccion</h6>
									</li>
								</ul>
							</div>
							<div class="col-lg-8">
								<ul class="list-group list-group-unbordered">
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-primary" id="cedul"></h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-primary" id="nombr"></h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-primary" id="apellid1"></h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-primary" id="apellid2"></h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-primary" id="sex"></h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-primary" id="fechanaci"></h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-primary" id="telefon"></h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-primary" id="estad"></h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<h6 class="text-primary" id="corre"></h6>
									</li>
									<li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
										<textarea class="form-control text-primary" rows="3" id="direccio" disabled></textarea>
									</li>
								</ul>
							</div>
							<button type="reset" class="btn btn-primary btn-block" data-dismiss="modal">Cerrar</button>
						</div>
						<!-- /.box-body -->
					</div> <!-- /.box -->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
	</form>

}
