
@{
	Layout = "~/Areas/LTE/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Grados";
}
<div class="box">
	<div class="box-header">
		<h2 class="box-title text-light-blue">Lista de Grados</h2>
		<a href="#" data-toggle="modal" data-target="#modal_Grado" class="btn btn-warning btn-sm pull-right" id="m2">Agregar Grado</a>
	</div><!-- /.box-header -->
	<div class="box-body panel box box-primary">
		<table id="grados" class="table table-bordered table-striped">
			<thead>
				<!--Header de la tabla -->
				<tr>
					<th>Grados Academicos</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="panel box box-primary"></div><!-- /.box-body -->
</div>

@section Scripts {

	<script type="text/javascript" src="~/js/js-redes/Grado/Ver.js"></script> <!-- script Cargar Grados-->
	
}