<!--form para poder activar la ruta y poder guardar el registro--><!-- -->
<form>
	<div class="modal  modal-info fade" id="Ver_Asistencia">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Asistencia</h4>
				</div>
				<div class="modal-body ">
					<div class="form-group">
						<br>
						<label class="control-label requerido">Ausencias</label>
						<table id="fechas" class="table table-bordered table-striped display">
							<thead>
								<tr>
									<th>Fecha</th>
								</tr>
							</thead>
							<tbody class="text-blue">
								<!--Cuerpo de la tabla -->
							</tbody>
						</table>
						<div class="form-group">
							<div class="col-lg-2">
								<label id="Presente" class="control-label requerido"></label>
								<p class="error text-red ">Presente</p>
							</div>
							<div class="col-lg-2">
								<label id="Ausente" class="control-label requerido"></label>
								<p class="error text-red ">Ausente</p>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-outline" data-dismiss="modal">Salir</button>
					</div>
				</div> <!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
</form>








