
@{
	Layout = "~/Areas/LTE/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Asignaturas";
}
<div class="box">
	<div class="box-header">
		<h2 class="box-title text-light-blue">Lista de Asignaturas</h2>
		<a href="#" data-toggle="modal" data-target="#modal_Materia" class="btn btn-warning btn-sm pull-right" id="m2">Agregar Asignatura</a>
		<a href="#" onclick="Asignar()" data-toggle="modal" data-target="#asignar_asignatura" class="btn btn-success btn-sm pull-right" id="m2">Asignar</a>
	</div><!-- /.box-header -->
	<div class="box-body panel box box-primary">
		<table id="Asignaturas" class="table table-bordered table-striped">
			<thead>
				<!--Header de la tabla -->
				<tr>
					<th>Asignaturas</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="panel box box-primary"></div><!-- /.box-body -->
</div>

<!--Modales -->

@Html.Partial("~/Areas/Asignatura/Views/Agregar.cshtml")
@Html.Partial("~/Areas/Asignatura/Views/Eliminar.cshtml")
@Html.Partial("~/Areas/Asignatura/Views/Asignar.cshtml")


@section Scripts {

	<script type="text/javascript" src="~/js/js-redes/Materia/Ver.js"></script> <!-- script Cargar Asignaturas-->
	<script type="text/javascript" src="~/js/js-redes/Materia/crear.js"></script> <!-- script agregar asigntura-->
	<script type="text/javascript" src="~/js/js-redes/Materia/eliminar.js"></script> <!-- script agregar asigntura-->
	<script type="text/javascript" src="~/js/js-redes/Materia/asignar.js"></script> <!-- script agregar asigntura-->


}


