<form id="estudiante">
    <div class="modal  modal-info fade" id="perfil_estudiante">
        <div class="modal-dialog ">
            <div class="modal-content">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="~/lte/dist/img/estudiante.png" class="user-image" alt="User Image">

                        <h3 class="profile-username text-center">Estudiante</h3>

                        <p id="rol_user" class="text-muted text-center"></p>

                        <div class="col-lg-4">
                            <ul class="list-group list-group-unbordered ">
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Codigo</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Nombre</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Primer apellido</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Segundo apellido</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">sexo</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">fecha nacimiento</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Tutor</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Parentesco</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Telefono</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Dirreccion</h6>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-8">
                            <ul class="list-group list-group-unbordered">
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="co"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="N1"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="p1"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="p2"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="s"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="fn"></h6>
                                </li>
                                <li class="list-group-item">
                                    <small class="text-primary" id="t"> </small>
                                    <small class=" btn-sm pull-right bg-green ver-tutor">Ver tutor</small>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="p"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="te"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <textarea class="form-control text-primary" rows="3" id="direcc" disabled></textarea>
                                </li>
                            </ul>
                        </div>
                        <button type="reset" class="btn btn-primary btn-block" data-dismiss="modal">Cerrar</button>
                    </div>
                    <!-- /.box-body -->
                </div> <!-- /.box -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</form>
