@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Areas/LTE/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Usuarios";
}
<div class="box">
	<div class="box-header">
		<h2 class="box-title text-light-blue">Usarios</h2>
		
		<div class="box-tools pull-right" id="filtros-Usarios">
			<div class="form-group">
				<div class=" col-lg-4">
					<a href="#" data-toggle="modal" data-target="#ingresar_Institucion" class="btn btn-warning btn-sm" id="m2">Agregar Institucion</a>
				</div>
				<div class=" col-lg-4">
					<a href="#" data-toggle="modal" data-target="#modal_Materia" class="btn btn-warning btn-sm" id="m2">Agregar Docente</a>
				</div>
				<div class=" col-lg-4">
					<select aria-required="true" required style="width: 70%; padding-top: 2.5%; " name="tipo" id="tipo">
						<option value="" disabled selected>Tipo</option>
						<option value="2">Docente</option>
						<option value="3">Institucion</option>
					</select>
					<a type="submit" style="width: 30%; padding-top: 1.4%; " onclick="Mostrar_Usuarios();" class="btn btn-primary btn-sm pull-right" id="Mostrar "><i class="fa fa-search"></i></a>
				</div>
			</div>
			</div>
	</div>
	<!-- /.box-header -->
	<div class="box-body panel box box-primary">
		<form >
			<table id="Usuarios" class="table table-bordered table-striped">
			</table>
		</form>
	</div>
	<div class="panel box box-primary"></div><!-- /.box-body -->
</div>


<style>
	/* Codigo para aplicar placeholder a combobox */
	option[value=""][disabled] {
		display: none;
	}

	.register-box-body {
		color: gray !important;
	}
</style>


@section Scripts {
	<script type="text/javascript" src="~/js/js-redes/Usuario/ver.js"></script> <!-- script mostrar usuarios-->
	}