<form id="tutor">
    <div class="modal  modal-info fade" id="perfil_tutor">
        <div class="modal-dialog ">
            <div class="modal-content">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img id="varon" class="profile-user-img img-responsive img-circle user-image" src="~/lte/dist/img/user2.png" alt="User Image">
                        <img id="mujer" class="profile-user-img img-responsive img-circle hidden user-image" src="~/lte/dist/img/user2.png" alt="User Image">
                        <h3 class="profile-username text-center">Tutor</h3>

                        <div class="col-lg-4">
                            <ul class="list-group list-group-unbordered ">
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">cedula</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Nombre</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Primer apellido</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Segundo apellido</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">sexo</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">fecha nacimiento</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Oficio</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Correo</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Telefono</h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-black">Dirreccion</h6>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-8">
                            <ul class="list-group list-group-unbordered">
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="cet"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="N1t"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="p1t"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="p2t"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="st"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="fnt"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="ot"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="ct"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <h6 class="text-primary" id="tet"></h6>
                                </li>
                                <li style="padding-top:0.1%; padding-bottom:0.1%;" class="list-group-item">
                                    <textarea class="form-control text-primary" rows="3" id="dirt" disabled></textarea>
                                </li>
                            </ul>
                        </div>
                        <button type="reset" class="btn btn-primary btn-block" data-dismiss="modal">Cerrar</button>
                    </div>
                    <!-- /.box-body -->
                </div> <!-- /.box -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</form>
