<!-- Mostrar Parentescos-->

@{
	ViewData["Title"] = "Parentescos";
	Layout = "~/Areas/LTE/Views/Shared/_Layout.cshtml";
}

<div class="box">
	<div class="box-header">
		<h2 class="box-title text-light-blue">Parentescos</h2>
		<a href="#" data-toggle="modal" data-target="#modal_Parentesco" class="btn btn-warning btn-sm pull-right" id="m2">Agregar Parentesco</a>
	</div>
	<!-- /.box-header -->
	<div class="box-body panel box box-primary">
		<table id="parentescos" class="table table-bordered table-striped">
			<thead>
				<!--Header de la tabla -->
				<tr>
					<th>Lista de parentescos</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<!--Cuerpo de la tabla -->
				<tr id="">
					<!--abre fila-->
					<td><?php echo $parentesco['Parentesco'];?></td>  <!--agrega dato a la columna-->
					<td style="padding-top:0.1%; padding-bottom:0.1%;">
						<button class="btn btn-success " onclick="editar_Parentesco(this);" data-id="<?php echo $parentesco['id']; ?>" data-Nombre="<?php echo $parentesco['Parentesco'];?>"><i class=" fa fa-fw fa-pencil"></i></button>  <!--botton para editar -->
						<button class="btn btn-info" onclick='eliminar_parentesco(this);' data-id="<?php echo $parentesco['id']; ?>" data-Nombre="<?php echo $parentesco['Parentesco'];?>"><i class="fa fa-fw fa-trash "></i></button>  <!--botton para eliminar-->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel box box-primary"></div><!-- /.box-body -->
</div>

<!--Modales-->
@Html.Partial("~/Areas/Estudiante/Views/Editar.cshtml");
@Html.Partial("~/Areas/Estudiante/Views/Eliminar.cshtml");
@Html.Partial("~/Areas/Estudiante/Views/Ver.cshtml");


@section Scripts {
	<script type="text/javascript" src="~/js/js-redes/Estudiante/buscar.js"></script> <!-- script Buscar un estudiante-->
	<script type="text/javascript" src="~/js/js-redes/Estudiante/ver.js"></script> <!-- script ver un estudiante-->
	<script type="text/javascript" src="~/js/js-redes/Estudiante/crear.js"></script> <!-- script crear un nuevo estudiante-->
	<script type="text/javascript" src="js/js-redes/Estudiante/eliminar.js"></script> <!-- script eliminar un nuevo estudiante-->
	<script type="text/javascript" src="js/js-redes/Estudiante/editar.js"></script> <!-- script editar un nuevo estudiante-->
	<script type="text/javascript" src="js/js-redes/Estudiante/select2.full.min.js"></script> <!-- Plugins para buscar en combobox-->
	<script src="~/js/js-redes/Estudiante/Paginacion.js"></script><!-- script para paginar datos-->
}

