
@{
	ViewData["Title"] = "Inicio";
	Layout = "~/Areas/LTE/Views/Shared/_Layout.cshtml";
}

<body class="h-100 bg-primary">
	<div class="container h-100">
		<div class="row justify-content-center h-100">
			<div class="col-sm-12 align-self-center text-center">
				<div class="card shadow">
					<div class="card-body">
						<h1 id="institucion" style=" margin-top: 50px; color: cadetblue; font-weight: 800; font-size: 40px; " class="m-5"></h1>
						<h5 id="oferta" style="color: cadetblue; font-weight: 800; font-size: 25px; " class="m-5"></h5>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
@section Scripts {

	<script type="text/javascript" src="~/js/js-redes/Dashboard_Docente.js"></script>
}