
@{
	ViewData["Title"] = "Editar";
}

<!--form para poder activar la ruta y poder guardar el registro--><!-- -->
<form id="Editar_Instituciones" onsubmit="event.preventDefault()">
	<div class="modal  modal-info fade" id="Editar_Institucion">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Editando Institucion</h4>
				</div>
				<div class="modal-body ">
					<div class="register-box-body" style="background-color:#eee;">
						<div class="form-group has-feedback">
							<input type="text" id="Id_Institucion" name="Id" class="form-control hidden" required placeholder="Nombre de Institucion">
							<input type="text" id="Institucion2" name="Institucion" class="form-control requerido" required placeholder="Nombre de Institucion">
							<small>Nombre Institucion</small>
						</div>
						<div class="form-group has-feedback">
							<input type="text" id="Direcccion2" name="Direcccion" class="form-control requerido" required placeholder="Direccion">
							<small>Direccion</small>
						</div>
						<div class="form-group has-feedback">
							<input type="text" id="Usuario2" name="Usuario" class="form-control requerido" required placeholder="Nombre de Usuario">
							<small>Nombre Usuario</small>
						</div>
						<div class="form-group has-feedback">
							<input type="password" id="Contrasena2" name="Contraseña" class="form-control requerido" autocomplete="new-password" required placeholder="Contraseña">
							<small>Contraseña</small>
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-outline pull-left" data-dismiss="modal">Cancelar</button>
						<button type="submit" onclick="editar_Institucion_conf()" class="btn btn-outline">Actualizar</button>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
		</div>
	</div>
</form>

